{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content-holder">
    <section class="home-center text-center">
        <div class="container">
          <h1>Welcome To Klarart</h1>
          <p class="welcome-msg">We love art and we love and we love making people happy. 
            So please have a browse in our store. All pieces are made 
            by Klara Thunberg! Have a look below.
            There is also a little taster of what we have on offer below too!
          </p>
          <p>
            <a href="" class="store-btn btn btn-primary my-2">Store</a>
          </p>
          <img class="front-img" src="/media/web-img/1-faced.jpg" alt="Half detailed face drawing">
          <img class="front-img" src="/media/web-img/broken-image.jpg" alt="Drawing of a broken mind">
          <img class="front-img" src="/media/web-img/london-lights.jpg" alt="Drawing of old fashioned street lamp at night">

        </div>
      </section>
</div>
{% endblock %}