{% load static %}
<nav class="navbar navbar-light bg-light">
    <div class="nav-2-display">
      <li class="nav-item dropdown nav-2-item">
        <a class="nav-link dropdown-toggle nav-2-title" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a href="{% url 'products' %}?category=Test" class="dropdown-item">Test</a>
        <a href="{% url 'products' %}?category=please" class="dropdown-item">Please</a>

      </div>
      </li>
      <li class="nav-item dropdown nav-2-item">
        <a class="nav-link dropdown-toggle nav-2-title" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Price
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">Low To Ligh</a>
          <a href="{% url 'products' %}??sort=price&direction=desc" class="dropdown-item">High To Low</a>
        </div>
      </li>
      <li class="nav-item dropdown nav-2-item">
        <a class="nav-link dropdown-toggle nav-2-title" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Rating
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a href="{% url 'products' %}?sort=rating&direction=asc" class="dropdown-item">Low To High</a>
          <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">High To Low</a>
        </div>
      </li>
    </div>
  </nav>