{% load static %}
<nav class="navbar navbar-light bg-light">
    <div class="nav-2-display">
      <li class="nav-item dropdown nav-2-item">
        <a class="nav-link dropdown-toggle nav-2-title" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a href="" class="dropdown-item"></a>
      </div>
      </li>
      <li class="nav-item dropdown nav-2-item">
        <a class="nav-link dropdown-toggle nav-2-title" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Deals
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          
        </div>
      </li>
      <li class="nav-item dropdown nav-2-item">
        <a class="nav-link dropdown-toggle nav-2-title" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Price
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        </div>
      </li>
      <li class="nav-item dropdown nav-2-item">
        <a class="nav-link dropdown-toggle nav-2-title" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Rating
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        </div>
      </li>
    </div>
  </nav>